.header-nav-container {
  padding: 30px 30px 0px 30px;
  background-color: var(--background-color);
}

.navbar-li {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0 !important;
}

.navbar-li-small {
  list-style: none;
  display: flex;
  padding: 0px;
  margin: 0px;
  flex-direction: column;
}

.navbar-li li a {
  text-decoration: none;
  color: var(--navbar-text);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 36px;
}

.navbar-li-small li a {
  text-decoration: none;
  color: var(--navbar-text);
  padding: 10px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}

.cool-link {
  display: inline-block;
  color: #000;
  text-decoration: none;
}

.cool-link::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  border-radius: 100px;
  background: #d24034;
  transition: width 0.3s;
}

.active::after {
  width: 100%;
}

.cool-link:hover::after {
  width: 100%;
}

.btn-connect {
  appearance: none;
  color: white;
  padding: 4px 16px 7px 16px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  background: rgb(210, 64, 52);
  overflow: hidden;
  transition: all 0.3s ease 0s;
  outline: none;
}

.small-nav {
  margin: 0 auto !important;
  width: fit-content;
}

.btn-connect:hover {
  background: rgb(143, 43, 34);
}

.nav-offcanvas.offcanvas-start {
  width: 100%;
  text-align: center;
  background-color: black;
}

.menu-icon {
  padding: 0px;
  font-size: 26px;
  margin: 0px;
  display: none;
}

.justify-content-center {
  align-items: center;
  max-width: 1280px;
  margin: auto !important;
  &__switch-btn {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px !important;
  }
}

.select-btn {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  min-width: 64px;
  padding: 6px 16px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: rgb(255, 255, 255);
  background-color: rgb(25, 118, 210);
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
  background: linear-gradient(275.68deg, #b386fe 5.91%, #92cfeb 50.2%, #a7fe89 101.53%);
  height: 45px;
}

.select-btn:hover {
  text-decoration: none;
  background-color: rgb(21, 101, 192);
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px -1px, rgb(0 0 0 / 14%) 0px 4px 5px 0px, rgb(0 0 0 / 12%) 0px 1px 10px 0px;
  color: #292929;
  border-radius: 10px;
}

@media only screen and (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .navbar-li {
    display: none;
  }

  .header-nav-container {
    padding: 10px 30px 10px 30px;
  }

  .justify-content-around__switch-btn {
    padding-right: 0px !important;
  }
}
